@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #000000;
	--dark-color-b: rgba(0, 0, 0, 0.7);
	--light-color: #efeeee;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: rgba(27, 27, 27, 1);
	color: var(--light-color);
	border: 1px solid rgba(107, 107, 107, 0.8);
	font-size: 17px;
	border-radius: 7px;
	transition: all 0.3s;
}

.btn:hover {
	background: var(--light-color);
	color: rgba(27, 27, 27, 1);
	transition: all 0.3s;
}

/* Chat Page */

.chat-container {
	top: 0px;
	bottom: 0px;
	height: 699px;
	width: 1025px;
	background: rgb(121, 121, 121);
	margin: 30px auto;
	overflow: hidden;

	transition: all 0.3s;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 550px;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-radius: 7px;
	border: none;
	background-color: var(--light-color);
}

/* Join Page */
.join-container {
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	right: 0;
	left: 0;
	max-width: 500px;
	margin: 80px auto;
	color: #fff;

	position: absolute;
	transition: all 0.3s;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 7px;
	background-color: var(--light-color);
	color: #5d5b5b;
	border: 1px solid rgba(107, 107, 107, 0.8);
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.btn-container 
.btn {
	width: 100%;
	flex: 1 1 auto;
  margin: 0 5px;
}

.blr {
	filter: blur(4px);
	opacity: 0.5;
	position: absolute;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}

.dissolve {
	opacity: 0;
	transform: translateZ(-10000px);
	display: none;
}

.btn-container {
	display: flex;
	margin: 0 -5px;
}

.sidebar-room-container input {
	background-color: rgba(1,1,1,0);
	border: none;
	color: #fff;
	font-size: 16px;
	padding-bottom: 18px;
}

i.far.fa-copy {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
